.red-border{
    border: 2px solid red;
    margin: 2px;
}
.flex{
    display: flex;
}
.justify-content{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #111111;
    color: white;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
p-1{
    padding: 10px;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 8px;
  color:lightgrey;
}
.poppins-mid {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 12px;
  color:lightgrey;
}
.svg-size{
    height: 40px;
    width: auto;
}
.card{
    width: 300px;
    height: 250px;
    /* background-color: #252525; */
    border-radius: 7px;
    position: relative;

}
/* Entire Website */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #121212;   /* Dark background */
}

::-webkit-scrollbar-thumb {
    background: #2a2a2a;   /* Dark grey thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;      /* Slightly lighter on hover */
}
.black-text{
    color:black;
}


